<div class = "Outer">
  <nav class="navbar">
    <div class="navbar-container">
      <div class="logo-container">
        <span class="logo-text">TodoAPP</span>
      </div>
    </div>
  </nav>
</div>

<div class="login-container">
    <h2>Login</h2>
    <div class="login-form">
      <input type="text" [(ngModel)]="username" placeholder="Username" />
      <input type="password" [(ngModel)]="password" placeholder="Password" />
      <button (click)="login()">Login</button>
  
      <!-- Error Message -->
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

      <p>Don't have an account? <button class="link-button" (click)="goToRegister()">Register</button></p>
    </div>
  </div>
  